body{
    background-color: #181818;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    background-color: #181818;
    height: 500px;
    align-items: center;
    margin-top: 150px;
    border-radius: 30px;
    color: #ffffff;
}
h1{
color: #ffffff;
display: flex;
justify-content: center;
height: 100px;
}

button{ 
    width: 200px;
    margin: 0 auto;
    padding: 5px;
    margin-top: -10px;
    border-radius: 100px;
    color:#ffffff;
    background-color: #000000;
    justify-content: center;
    display: flex;
    margin-top: 40px;
}

button:hover{
    background-color: #3BE477;
}
.box {
    display: flex;
    justify-content: center;
    gap: 50px;
}
img{
    width: 45vw;
    border-radius: 1%;

}